body {
    width: 100%;
    height: 100%;
    margin: 0; 
    font-family: 'Inter', sans-serif;
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;   
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.card {
 
    background-color: cornsilk;
    padding: 8px;
    margin: 8px;
    height: 260px;
    width: 600px;
    font-size: 18px;
    border: 1px solid cornsilk;
    border-radius: 32px;
}

h1 {
    text-align: center;
    color: brown;
   }

h2 {
    color: #FF7145;
}

section {
    display: flex;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
}
 
td,th {
    border : 1px solid rgb(209, 144, 33);
    padding: 1px 8px 1px 8px;
}

.categories {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a {
    margin: 0 5px 0 5px;
}

.categorie_form {
    display: flex;
} 

.formulaire {
    display: flex;
    
}
.formulaire .ligne {
    display: flex;
    justify-content: space-between;
 

}

.formulaire .gauche { 
    margin: 5px 0px 0px 10px;

}

.formulaire .droite {
    margin: 5px 0px 0px 10px;
    width: 32px;
}

.formulaire input, .formulaire select {
    width: 160px;
}

.valide {
    margin: 10px 0 0 5px;
}

.delete {
    font-size: 32px;
    color: crimson;
    text-align: center;
}
.endcreate{
    font-size: 28px;
    color: crimson;
    text-align: center;
    margin: 0px 280px;
}

